<!doctype html>
<html lang=en>
	<head>
		<meta charset=utf-8>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>PetFinder</title>
		<link rel="stylesheet" href="/theme/style.css">
		<link rel="shortcut icon" href="theme/favicon.png" />
	</head>
	<body class="login">
		<div class="wrapper h-100 container-fluid">
			<div class="row h-100 justify-content-center align-items-center">
				<div class="login-form col">
					<div class="logo">
						<img src="/img/logo.png" />
					</div>
					<form>
						<div class="mb-3">
							<label for="login" class="form-label">Email ou usuário</label>
							<span class="input-group-text bi bi-person-fill">
              </span>
							<input type="text" class="form-control" id="login" aria-describedby="emailHelp">
						</div>
						<div class="mb-3">
							<label for="password" class="form-label">Senha</label>
							<span class="input-group-text bi bi-key-fill">
              </span>
							<input type="password" class="form-control" id="password">
						</div>
						<div class="mb-3 hstack">
							<a href="#" class="">Esqueci a senha</a>
							<a href="#" class="ms-auto">Criar conta</a>
						</div>
						<button type="submit" class="btn btn-secondary w-100 text-light">Entrar</button>
					</form>

				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	</body>
</html>